$yellow: #E5A33F; 
$sky: #b0d8df;
$cream: #FEF6D6;
$white: #ffffff;
$charcoal: #2B2F2E;
$black:#000000;
$brown: #382017;
$red: #CE3D31;
$caramel: #9B6112;

@mixin f--caramel {
    color: $caramel;
}

@mixin bg--charcoal {
    background-color: $charcoal;
}

@mixin f--yellow {
    color: $yellow;
}

@mixin bg--yellow {
    background-color: $yellow;
}

@mixin f--red{
    color: $red;
}

@mixin bg--red {
    background-color: $red;
}

.f--caramel {
    @include f--caramel;
  }

.bg--charcoal {
    @include bg--charcoal;
}

.f--yellow{
    @include f--yellow;
}

.bg--yellow {
    @include bg--yellow;
}

.f--red{
    @include f--red;
}

.bg--red{
    @include bg--red;
}

@media (min-width: 768px) {
    .custom-menu-hover {
      &:hover {
        color:$red;
      }
    }
  }