@charset "UTF-8";
@import '/node_modules/tailwindcss/base.css';
@import '/node_modules/tailwindcss/components.css';
@import '/node_modules/tailwindcss/utilities.css';
.f--caramel {
  color: #9B6112;
}

.bg--charcoal {
  background-color: #2B2F2E;
}

.f--yellow {
  color: #E5A33F;
}

.bg--yellow {
  background-color: #E5A33F;
}

.f--red {
  color: #CE3D31;
}

.bg--red {
  background-color: #CE3D31;
}

@media (min-width: 768px) {
  .custom-menu-hover:hover {
    color: #CE3D31;
  }
}
h4, h3, h2, h1 {
  font-family: "itc-benguiat", sans-serif;
  font-weight: 900;
}

p {
  font-family: "yrsa", sans-serif;
  font-weight: 900;
}

.tonic {
  font-family: "rama-slab-e", sans-serif;
}

nav ul li {
  font-family: "rama-slab-e", sans-serif;
  font-size: 1.5rem;
  color: #FEF6D6;
  /*& a img{ //dépend de quelles icônes on utilise
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(106%) contrast(106%);
      &:hover{
          filter: invert(60%) sepia(99%) saturate(329%) hue-rotate(354deg) brightness(96%) contrast(86%);
      }
  }*/
}
nav ul li:hover {
  opacity: 0.8;
}

footer .social, footer a img {
  filter: invert(60%) sepia(99%) saturate(329%) hue-rotate(354deg) brightness(96%) contrast(86%);
}
footer .social:hover, footer a img:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(106%) contrast(106%);
}
footer .social .social a:hover, footer a img .social a:hover {
  opacity: 0.8;
}

footer h3 {
  color: #E5A33F;
}

footer {
  font-family: "itc-benguiat", sans-serif;
  color: #FEF6D6;
}

.card__actor a img {
  filter: invert(12%) sepia(12%) saturate(2253%) hue-rotate(331deg) brightness(96%) contrast(94%);
}
.card__actor a img:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(106%) contrast(106%);
  opacity: 0.8;
}

body {
  background-color: #FEF6D6;
}

.firstSec_hauteur {
  height: 700px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.label--hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

select {
  appearance: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select--btn {
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-family: "yrsa", sans-serif;
  font-weight: 900;
  border: 0.25rem solid #000000;
  margin: 1rem;
  text-align: center;
  padding: 0.5rem 2rem;
}
.select--btn:hover {
  color: #ffffff;
  background-color: #000000;
}

button.form--btn {
  padding: 0.25rem 3.5rem;
  margin: 1rem;
  font-family: "rama-slab-e", sans-serif;
  font-size: 1.75rem;
  color: #ffffff;
  background-color: #000000;
  border: 0 solid;
  display: flex;
  place-items: center;
}
button.form--btn:hover {
  color: #000000;
  background-color: #ffffff;
  border: 0.25rem solid #000000;
}

.streaming a img:hover {
  filter: invert(41%) sepia(58%) saturate(1039%) hue-rotate(324deg) brightness(78%) contrast(110%);
}

.title__sub {
  font-family: "hoosier-daddy", sans-serif;
}

.pic__shadow {
  box-shadow: 10px 10px 1px 1px rgba(0, 0, 0, 0.9);
}
.pic__shadow--4 {
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text__hover--hidden {
  display: none;
}

.sectionPhoto {
  height: 1200px;
}/*# sourceMappingURL=style.css.map */